@font-face {
	font-family: "Minecrafter";
	src: url("../fonts/Minecrafter.Reg.ttf") format("truetype"),
	     url("../fonts/Minecrafter.Alt.ttf") format("truetype");
}

@font-face {
	font-family: "Minecraft";
	src: url("../fonts/Minecraft.ttf") format("truetype");
}

@keyframes textbounce {
	from {
		transform: rotate(-20deg) scale(1);
	}
	to {
		transform: rotate(-20deg) scale(1.1) translateX(4%);
	}
}

body {
	background: #160000;
	color: #efefef;
	font-family: "Minecraft";
	background-image: url("../images/dirt.png");
	background-size: 64px;
}

header {
	text-align: center;
	width: 800px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0px auto;
}

main {
	width: 600px;
	margin: 0px auto 128px auto;
}

footer {
	font-size: 18px;
	text-align: center;
}

a, a:visited {
	color: #efefef;
}

a:hover {
	color: #FF0;
}

label {
	color: #FF0;
	text-shadow: 2px 3px 0px rgb(65, 65, 0);
	font-size: 32px;
}

label::before {
	background-image: url("../images/netherrack-unlit-small.gif");
	background-repeat: no-repeat;
	padding-left: 85px;
	padding-top: 60px;
	padding-bottom: 16px;
	content: "";
}

.faq-checkbox:checked + label::before {
	background-image: url("../images/netherrack-lit-small.gif");
	background-repeat: no-repeat;
	padding-left: 85px;
	padding-top: 60px;
	padding-bottom: 16px;
}

label:hover {
	text-decoration: underline;
	cursor: url("../images/flint-and-steel.png"), pointer;
}

input[type="checkbox"] {	
	display: none;
}

h1 {
	color: #efefef;
	position: relative;
	font-family: "Minecrafter";
	font-size: 97px;
	font-weight: 100;
	text-shadow: 0px 0px 5px #000;
	margin: 48px 0px 0px 0px;
}

h6 {
	width: 200px;
	position: relative;
	font-family: "Minecraft";
	font-size: 24px;
	font-weight: 100;
	color: rgb(255, 255, 0);
	text-shadow: 2px 3px 0px rgb(65, 65, 0);
	top: -110px;
	left: 625px;
	transform: rotate(-20deg);
	animation: 0.3s linear 0s infinite alternate textbounce;
}

.faq-article {
	font-size: 18px;
	display: none;
}

.faq-checkbox:checked ~ .faq-article {
	display: block;
	padding: 24px 0px 0px 85px;
}

ul {
	margin-top: -25px;
	padding: 0px;
	list-style: none;
}

li {
	margin: 48px auto 80px auto;
}
