@font-face {
	font-family: "Minecrafter";
	src: url("../fonts/Minecrafter.Reg.ttf") format("truetype"),
	     url("../fonts/Minecrafter.Alt.ttf") format("truetype");
}

@font-face {
	font-family: "Minecraft";
	src: url("../fonts/Minecraft.ttf") format("truetype");
}

@keyframes textbounce {
	from {
		transform: rotate(-20deg) scale(100%);
	}
	to {
		transform: rotate(-20deg) scale(110%) translateX(4%);
	}
}

body {
	background: #999;
}

header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	position: relative;
	font-family: "Minecrafter";
	font-size: 97px;
}

h6 {
	position: relative;
	font-family: "Minecraft";
	font-size: 24px;
	color: rgb(255, 255, 0);
	text-shadow: 2px 3px 0px rgb(65, 65, 0);
	top: -200px;
	left: 600px;
	transform: rotate(-20deg);
	animation: 0.5s ease-in-out  0s infinite alternate textbounce;
}


